// Common
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Circular', serif; }
ol, ul { list-style: none; } 
body { overflow-x: hidden; }
a { 
    display: inline-block; text-decoration: none; color: #0C57FB; 
    &:hover {
        text-decoration: underline;
    }
}
img { width: 100%; font-size: 0; }
input { outline: none; }
button { background: none; outline: none; border: none; cursor: pointer; }
p { font-size: 16px; line-height: 22px; color: #1D2B3B; font-weight: 400; }


// Fonts
@font-face {
    font-family: 'Circular';
    font-weight: 400;
    src: url('../fonts/circular-std-book.woff2') format('woff2');
}

@font-face {
    font-family: 'Circular';
    font-weight: 500;
    src: url('../fonts/circular-std-medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Circular';
    font-weight: 700;
    src: url('../fonts/circular-std-bold.woff2') format('woff2');
}

// Common classes
.text-dark { color: #1D2B3B; }
.text-center { text-align: center; }
.font-medium { font-weight: 500; }

.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}


.message {
    padding: 10px 45px 10px 15px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;

    p {
        font-size: 14px;
        line-height: 20px;
    }

    .delete {
        position: absolute;
        right: 15px;
        font-size: 14px;
        line-height: 20px;
        color: #1D2B3B;
        font-weight: 700;
    }

    &.is {
        &-danger {
            background-color: rgba(231, 76, 60, 0.1);
            p { color: #E74C3C; }
        }
        &-success {
            background-color: rgba(46, 204, 113, 0.1);
            p { color: #2ecc71; }
        }
    }
}