// Forms

.form-control {
    margin-bottom: 25px;
    width: 100%;
    @media only screen and (max-width: 768px){
        margin-bottom: 20px;
    }

    &-col {
        display: flex;

        .form-control {
            &:first-child {
                margin-right: 20px; 
            }
        }
    }

    &-error {
        border-color: $red !important;
    }

    label {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: $dark_gray;
        display: block;
        margin-bottom: 5px;
        @media only screen and (max-width: 768px){
            font-size: 14px;
            line-height: 20px;            
        }

        span {
            color: $dark_gray;
        }
    }

    input {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: $black;
        padding: 14px 20px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $gray;
        @media only screen and (max-width: 768px){
            
        }
    }

}

.form-error {
    font-size: 14px;
    line-height: 18px;
    color: $red;
    margin-top: 7px;
    display: block;
    @media only screen and (max-width: 768px){
        font-size: 12px;
        line-height: 16px;
    }
}

.form-note {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-back-login {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        span {
            display: flex;
            margin-right: 10px;
        }
    }
}

.form-radio {
    position: relative;

    label {
        position: relative;
        padding-left: 32px;
        line-height: 22px;
        display: block;
        z-index: 4;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 22px;
            height: 22px;
            background-color: $gray;
            border-radius: 50%;
        }
    }

    input {
        opacity: 0;
        position: absolute;
        &:checked {
            + label {
                &::after {
                    content: '';
                    position: absolute;
                    left: 6px;
                    top: 6px;
                    width: 10px;
                    height: 10px;
                    background-color: $blue;
                    border-radius: 50%;
                }
            }
        }
    }
}
