@import './helpers/variables';
@import './helpers/common';

@import './components/navbar';
@import './components/forms';
@import './components/button';


.form_container {
    max-width: 660px;
    padding: 20px;
}

.l_logo {
    text-align: center;
    padding: 50px 0 60px;
    font-size: 0;


    img {
        width: 155px;
    }
}

.auth_container {
    border: 1px solid $gray;
    border-radius: 3px;
    padding: 45px 50px;
}

.auth_header {
    margin-bottom: 40px;
    h3 {
        font-size: 28px;
        line-height: 32px;
        font-weight: 500;
        color: $black;
        margin-bottom: 15px;
    }
    p {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: $dark_gray;
    }
}


.home {
    padding: 30px 0;
    h1 {
        margin-bottom: 40px;
    }

    h2 {
        display: flex;
        align-items: center;
    }

    .login-method {
        margin-top: 10px;
        display: flex;
        align-items: center; 
        font-weight: 400;
        img {
            width: 20px;
            margin-left: 10px;
        }
    }
}

.preloader {
    position: fixed;
    animation: spinAround 1.5s infinite linear;
    left: calc(50% - (14px * .5));
    top: calc(50% - (14px * .5));
    z-index: 5;
}   